---
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

export interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<div id="dialog" title={title}>
	<slot />
</div>

<script>
	import 'jquery';
	import 'jquery-ui/themes/base/all.css';
	import 'jquery-ui/dist/jquery-ui.js';

	$('#dialog').dialog();
</script>
